-
  var articles = [
    {
      title: "My awesome article"
    },
    {
      title: "My awesome article number 2"
    },
    {
      title: "My awesome article about coop"
    },
    {
      title: "My awesome article about coop"
    },
    {
      title: "My awesome article about coop"
    },
    {
      title: "My awesome article about coop"
    },
    {
      title: "My awesome article about coop"
    }
  ]
