-
  var services = [
    {
      icon: 'wallet',
      title: 'Consectetur vestibulum',
      descr: 'Consectetur vestibulum maecenas curabitur hac felis vestibulum urna velit parturient suspendisse a ad lacus mauris'
    },
    {
      icon: 'smile',
      title: 'Consectetur vestibulum',
      descr: 'Consectetur vestibulum maecenas curabitur hac felis vestibulum urna velit parturient suspendisse a ad lacus mauris'
    },
    {
      icon: 'heart',
      title: 'Consectetur vestibulum',
      descr: 'Consectetur vestibulum maecenas curabitur hac felis vestibulum urna velit parturient suspendisse a ad lacus mauris'
    },
    {
      icon: 'roket',
      title: 'Consectetur vestibulum',
      descr: 'Consectetur vestibulum maecenas curabitur hac felis vestibulum urna velit parturient suspendisse a ad lacus mauris'
    },
    {
      icon: 'joystick',
      title: 'Consectetur vestibulum',
      descr: 'Consectetur vestibulum maecenas curabitur hac felis vestibulum urna velit parturient suspendisse a ad lacus mauris'
    },
    {
      icon: 'phone',
      title: 'Consectetur vestibulum',
      descr: 'Consectetur vestibulum maecenas curabitur hac felis vestibulum urna velit parturient suspendisse a ad lacus mauris'
    }
  ]
