-
  var siteName = "Base template"
  var mainMenu = [
    {
      "title": "Home",
      "link" : "#start"
    },
    {
      "title": "About Us",
      "link" : "#about"
    },
    {
      "title": "Services",
      "link" : "#services"
    },
    {
      "title": "Jobs",
      "link" : "#jobs"
    },
    {
      "title": "Contact Us",
      "link": "#contacts"
    }
  ]
