-
  var timePoints = [
    {
      year: "2003",
      title: "Started"
    },
    {
      year: "2006",
      title: "Important Date One"
    },
    {
      year: "2007",
      title: "Important Date Two"
    },
    {
      year: "2020",
      title: "current Time"
    }
  ]
