.icon {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.icon-heart {
    width: 41px;
    height: 36px;
    background-position: -5px -5px;
}

.icon-joystick {
    width: 40px;
    height: 38px;
    background-position: -56px -5px;
}

.icon-phone {
    width: 22px;
    height: 36px;
    background-position: -5px -53px;
}

.icon-roket {
    width: 29px;
    height: 32px;
    background-position: -37px -53px;
}

.icon-smile {
    width: 40px;
    height: 38px;
    background-position: -106px -5px;
}

.icon-wallet {
    width: 40px;
    height: 40px;
    background-position: -76px -53px;
}
